{% extends "base.html" %}

{%block title %} Contact {% endblock title %}

{% block contactactive %} active {% endblock contactactive %}

{% block body %}
    <div class="container my-3">
      <h2 class="text-center">Contact Me</h2>
      <form action="/contact" method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="Enter your name"
          />
        </div>
        <div class="mb-3">
          <label for="phone" class="form-label">Mobile Number</label>
          <input
            type="phone"
            class="form-control"
            id="phone"
            name="phone"
            placeholder="Enter your mobile number"
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="name@example.com"
          />
        </div>
        <div class="mb-3">
          <label for="Description" class="form-label">Example textarea</label>
          <textarea class="form-control" id="Description" name="desc" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Success</button>
      </form>
    </div>
{% endblock body %}